{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
      	<div class="col-md-6 offset-md-3 my-5">
          	<form action="/login" method="get">
				<div class="text-center">
	              	<img src="{% static 'logo.png' %}">
	            </div>
	            <div class="mt-5">
		            <div class="mb-3">
		            	<label for="username">Enter Username</label>
		              	<input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp" required>
		            </div>
		            <div class="mb-3">
		            	<label for="password">Enter Password</label>
		              	<input type="password" class="form-control" name="password" id="password" required>
		            </div>
		            <button type="submit" class="btn btn-primary mb-4 w-100">Login</button>
		            <p class="text-center">Don't have an account? <a href="/register"><u>Register now</u></a></p>
		        </div>
          	</form>
      	</div>
    </div>
</div>
{% endblock %}