{% extends "base.html" %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}
<div class="container my-5">
	<div class="row gap-4">
		<div class="col-12 col-lg-4">
			<img src="{{ product.imgurl }}" class="w-100">
		</div>
		<div class="col">
			<div class="mb-4">
				<h1>{{ product.title }}</h1>
				<h4><span class="badge bg-dark">{{ product.category }}</span></h4>
				<p>Written by - {{ product.author }}</p>
			</div>
			<div class="mb-4">
				<h3>Description</h3>
				<p>{{ product.description|linebreaksbr }}</p>
			</div>
			<div>
				<h4>${{ product.price }}<span class="text-danger">*</span></h4>
				<p class="text-danger">Shipping charge will be informed at checkout</p>
				<form action="/update-cart" method="get">
					<input type="hidden" name="id" value="{{ product.id }}">
					<label>Qty</label>
					<input type="number" class="mb-3 ms-2 border" name="qty" min="1" value="1"><br>
					<button type="submit" class="btn btn-primary me-2">Add to Cart</button>
					<a href="{% url 'add-to-wishlist' product_id=product.id %}" class="btn btn-outline-primary">Add to Wishlist</a>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}