{% extends "base.html" %}

{% block title %}
Your Profile
{% endblock %}

{% load static %}

{% block content %}
<div class="container my-5">
	<h1 class="mb-5">Your Profile</h1>
	<div class="row">
		<div class="col-12 col-lg-4 mb-5 mb-lg-0">
			<div class="text-center">
				<img src="{% static 'profile.png' %}" class="mb-4" style="height: 200px;">
				<h2 class="text-nowrap">Welcome, <span class="fw-bold">{{ fname }}</span></h2>
				<a href="{% url 'logout' %}" class="btn btn-primary  btn-sm me-2"><i class="fas fa-sign-out"></i> Logout</a>
				<a href="{% url 'remove-user' _username=username %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete Account</a>
			</div>
		</div>
		<div class="col-12 col-lg-8 px-lg-5">
			<table class="table profile-table">
				<tbody>
					<tr>
						<td class="fw-bold">First Name</td>
						<td>{{ fname }}</td>
					</tr>
					<tr>
						<td class="fw-bold">Last Name</td>
						<td>{{ lname }}</td>
					</tr>
					<tr>
						<td class="fw-bold">Userame</td>
						<td>{{ username }}</td>
					</tr>
					<tr>
						<td class="fw-bold">Phone No</td>
						<td>{{ phno }}</td>
					</tr>
					<tr>
						<td class="fw-bold">Address</td>
						<td>{{ address|linebreaksbr }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}